@font-face {
  font-family: 'Digital';
  font-style: normal;
  font-weight: normal;
  src: local('Digital Numbers Regular'), url("./fonts/DigitalNumbers-Regular.woff") format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Digital;
  font-weight: 800;
  font-size: 30px;
}

.App {
  height: 100vh;
  background-color: beige;
}

.display {
  height: 30vh;
  background-color: rgb(28, 38, 38);

}

.keypad {
  height: 70vh;
  background-color: rgb(137, 47, 47);
}

input {
  font-size: 30px;
  font-family: digital;
  padding-right: 10px;
}